/* ---------- Configurações ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

:root{

    --bg:#09090B;
    --card:#18181B;
    --card2:#27272A;
    --primary:#3B82F6;
    --secondary:#60A5FA;
    --text:#FAFAFA;
    --gray:#A1A1AA;

}

body{

    background:var(--bg);
    color:var(--text);

}

/* ---------- Scroll ---------- */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:20px;
}

/* ---------- Header ---------- */

header{

    position:fixed;
    width:100%;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(9,9,11,.75);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:999;

}

.logo{

    font-size:30px;
    font-weight:700;

}

.logo span{

    color:var(--primary);

}

nav{

    display:flex;
    gap:35px;

}

nav a{

    text-decoration:none;
    color:white;

    transition:.3s;

    font-weight:500;

}

nav a:hover{

    color:var(--primary);

}

/* ---------- Hero ---------- */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

}

.hero-text{

    max-width:600px;

}

.hero h3{

    color:var(--secondary);

    font-size:22px;

}

.hero h1{

    font-size:70px;

    margin:10px 0;

    line-height:1.1;

}

.hero p{

    margin-top:20px;

    color:var(--gray);

    line-height:1.8;

    font-size:18px;

}

.hero img{

    width: 720px;

    border-radius:50%;

    border:5px solid var(--primary);

    box-shadow:
    0 0 40px rgba(59,130,246,.5);

}

/* ---------- Botões ---------- */

.buttons{

    margin-top:40px;

    display:flex;

    gap:20px;

}

.btn,
.btn2{

    text-decoration:none;

    padding:15px 32px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;

}

.btn{

    background:linear-gradient(90deg,var(--primary),var(--secondary));

    color:white;

}

.btn:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 30px rgba(59,130,246,.4);

}

.btn2{

    border:2px solid var(--primary);

    color:white;

}

.btn2:hover{

    background:var(--primary);

}

/* ---------- Sections ---------- */

section{

    padding:110px 8%;

}

section h2{

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}

#sobre p{

    max-width:900px;

    margin:auto;

    text-align:center;

    color:var(--gray);

    line-height:2;

    font-size:18px;

}

/* ---------- Skills ---------- */

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:25px;

}

.card{

    background:var(--card);

    border:1px solid rgba(255,255,255,.05);

    border-radius:18px;

    padding:35px;

    text-align:center;

    transition:.35s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-10px);

    background:var(--card2);

    border-color:var(--primary);

    box-shadow:0 15px 40px rgba(59,130,246,.2);

}

/* ---------- Projetos ---------- */

.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

}

.projeto{

    background:var(--card);

    border-radius:18px;

    overflow:hidden;

    transition:.35s;

    border:1px solid rgba(255,255,255,.05);

}

.projeto:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.projeto img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.projeto h3{

    padding:25px 25px 10px;

}

.projeto p{

    padding:0 25px;

    color:var(--gray);

    line-height:1.8;

}

.projeto a{

    display:inline-block;

    margin:25px;

    color:var(--primary);

    text-decoration:none;

    font-weight:600;

}

/* ---------- Contato ---------- */

.social{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.social a{

    text-decoration:none;

    background:var(--card);

    padding:16px 28px;

    border-radius:12px;

    color:white;

    transition:.3s;

}

.social a:hover{

    background:var(--primary);

}

/* ---------- Footer ---------- */

footer{

    padding:35px;

    text-align:center;

    color:var(--gray);

    border-top:1px solid rgba(255,255,255,.05);

}

/* Card Phoenix */

.phoenix{
    position: relative;
    border:1px solid rgba(255,140,0,.15);
    transition:.3s;
}

.phoenix:hover{
    transform:translateY(-12px);
    border-color:#ff8c00;
    box-shadow:0 20px 40px rgba(255,140,0,.15);
}

.phoenix-status{

    position:absolute;

    top:15px;
    right:15px;

    background:#ff9800;

    color:#fff;

    font-size:12px;

    font-weight:600;

    padding:6px 12px;

    border-radius:20px;

    box-shadow:0 5px 15px rgba(255,152,0,.3);

}

.btn-phoenix{

    margin:25px;

    width:calc(100% - 50px);

    padding:14px;

    border:none;

    border-radius:10px;

    background:linear-gradient(90deg,#ff7a00,#ffb300);

    color:white;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.btn-phoenix:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(255,140,0,.35);

}

.phoenix-link{
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    transition: color .3s ease;
    cursor: pointer;
}

.phoenix-link:hover{
    color: #ff9800;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.75);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal-box{
    width:700px;
    max-width:90%;
    background:#202124;
    border-radius:18px;
    padding:30px;
    color:#fff;
    animation:popup .25s;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.close{
    font-size:30px;
    cursor:pointer;
}

.status{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:#f39c12;
    color:#111;
    padding:8px 15px;
    border-radius:50px;
    font-weight:600;
    margin-bottom:20px;
}

.alerta{
    display:flex;
    gap:15px;
    background:#2d3748;
    border-left:5px solid #ff9800;
    padding:18px;
    border-radius:10px;
    margin-top:25px;
}

.modal button{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#ff6b00;
    color:#fff;
    cursor:pointer;
}

@keyframes popup{
    from{
        opacity:0;
        transform:scale(.9);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
/* ---------- Responsivo ---------- */

@media(max-width:900px){

.hero{

    flex-direction:column-reverse;

    justify-content:center;

    text-align:center;

    gap:50px;

    padding-top:120px;

}

.hero img{

    width:250px;

}

.hero h1{

    font-size:50px;

}

.buttons{

    justify-content:center;

}

nav{

    display:none;

}



}

/* ==========================
   RESPONSIVIDADE CELULAR
========================== */

@media (max-width: 768px) {

    /* Header */
    header{
        padding: 15px 20px;
    }

    .logo{
        font-size: 22px;
    }

    nav{
        display: none;
    }

    /* Hero */
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 35px;
        padding: 120px 20px 80px;
    }

    .hero-text{
        max-width: 100%;
    }

    .hero h1{
        font-size: 42px;
    }

    .hero h3{
        font-size: 20px;
    }

    .hero p{
        font-size: 16px;
    }

    .hero img{
        width: 220px;
        max-width: 80%;
    }

    /* Botões */
    .buttons{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .btn,
    .btn2{
        width: 100%;
        max-width: 280px;
        text-align: center;
    }

    /* Seções */
    section{
        padding: 80px 20px;
    }

    section h2{
        font-size: 34px;
    }

    /* Sobre */
    #sobre p{
        font-size: 16px;
        text-align: justify;
        line-height: 1.8;
    }

    /* Tecnologias */
    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card{
        padding: 25px;
    }

    /* Projetos */
    .grid{
        grid-template-columns: 1fr;
    }

    .projeto img{
        height: 200px;
    }

    /* Modal */
    .modal-content{
        width: 95%;
        padding: 20px;
        max-height: 90vh;
        overflow-y: auto;
    }

    /* Contato */
    .social{
        flex-direction: column;
        align-items: center;
    }

    .social a{
        width: 100%;
        max-width: 250px;
        text-align: center;
    }

    /* Rodapé */
    footer{
        padding: 25px;
        font-size: 14px;
    }

}